@import "tailwindcss";
@import './fonts.css';

@theme {
  --color-primary: #C5942E;
  --color-gray-primary: #313131;
  --color-gray-secondary: #7B7B7B;
  --color-white-primary: #F8F8F8;
}


html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow-x: hidden;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  color: var(--color-white-primary);
}


.container {
  max-width: 1320px;
  margin: 0 auto;
}

.font-bicubik {
  font-family: 'Bicubik', sans-serif;
}
